.shop-component {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr
}

.book-component {}

.book-show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.price-component {
    /* background-color: aqua; */
}